<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>About</title>
</head>
<body>
    <div class="main-content">
        {{>header}}
        <p>This site was created by Gilson. It uses data from mapbox.com and weatherstack</p>
        <img class="botImg" src="/img/robot.png">
    </div>
    
    {{>footer}}
</body>
</html>